In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
df.shape

(581, 24)

In [4]:
df.head()

,ID,W,G,R,AB,H,1B,2B,3B,HR,...,HBP,BBHBP,SF,Outs,Outsinplay,RA,BA,OBA,SLG,OPS
0,1,60,162,558,5336,1280,891,247,31,111,...,0,460,0,4056,3216,740,0.239880,0.300207,0.360195,0.660402
1,3,86,161,677,5620,1492,1147,216,46,83,...,0,531,0,4128,3376,643,0.265480,0.328890,0.364591,0.693480
2,5,79,162,679,5550,1496,1088,262,63,83,...,0,543,0,4054,3175,710,0.269550,0.334646,0.384324,0.718971
3,7,96,162,780,5536,1458,990,265,40,163,...,0,561,0,4078,3145,682,0.263367,0.331146,0.414017,0.745164
4,9,96,162,688,5441,1354,905,247,21,181,...,55,597,35,4087,2703,548,0.248851,0.321258,0.401764,0.723022

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          581 non-null    int64
 1   W           581 non-null    int64
 2   G           581 non-null    int64
 3   R           581 non-null    int64
 4   AB          581 non-null    int64
 5   H           581 non-null    int64
 6   1B          581 non-null    int64
 7   2B          581 non-null    int64
 8   3B          581 non-null    int64
 9   HR          581 non-null    int64
 10  BB          581 non-null    int64
 11  SO          581 non-null    int64
 12  SB          581 non-null    int64
 13  CS          581 non-null    int64
 14  HBP         581 non-null    int64
 15  BBHBP       581 non-null    int64
 16  SF          581 non-null    int64
 17  Outs        581 non-null    int64
 18  Outsinplay  581 non-null    int64
 19  RA          581 non-null    int64
 20  BA          581 non-null    float64
 21  OBA         581 non-null    float64
 22  SLG         581 non-null    float64
 23  OPS         581 non-null    float64
dtypes: float64(4), int64(20)
memory usage: 109.1 KB